<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xiaoliwu.fish_san" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/catfish"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Plantea"
            android:label="@string/title_activity_plantea"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BossMan"
            android:label="@string/title_activity_boss_man"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Enigma"
            android:label="@string/title_activity_enigma"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GodlyGremlin"
            android:label="@string/title_activity_godly_gremlin"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Globbie"
            android:label="@string/title_activity_globbie"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".GalaxyCat"
            android:label="@string/title_activity_galaxy_cat"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fuufa"
            android:label="@string/title_activity_fuufa"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
